*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* regole css header */

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    /* DEBUG */
    background-color: aqua;
    min-height: 50px;
}
    
nav #logo{
    /* DEBUG */
    background-color: rgb(255, 145, 0);
    width: 15%;
    border: 1px solid black;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    /* DEBUG */
    background-color: rgb(255, 145, 0);
    width: 40%;
    border: 1px solid black;
}

nav #login{
    /* DEBUG */
    background-color: rgb(255, 145, 0);
    width: 15%;
    border: 1px solid black;
}

.header-section{
    display: flex;
    align-items: center;
    justify-content: center;
    /* DEBUG */
    background-color: blue;
    min-height: 400px;
}

.header-section div{
    /* DEBUG */
    background-color: rgb(219, 54, 248);
    min-height: 300px;
    min-width: 700px;
}

/* regole css main */

.white-section{
    display: flex;
    align-items: center;
    justify-content: center;
    /* DEBUG */
    background-color: white;
    min-height: 500px;
}

.gray-section {
    display: flex;
    align-items: center;
    justify-content: center;
    /* DEBUG */
    background-color: gray;
    min-height: 500px;
}

.blue{
    /* DEBUG */
    background-color: rgb(73, 135, 216);
    min-height: 400px;
    min-width: 40%;
}

.pink{
    /* DEBUG */
    background-color: pink;
    min-height: 400px;
    min-width: 30%;
}

.green-section{
    display: flex;
    align-items: center;
    justify-content: center;
    /* DEBUG */
    background-color: grey;
    min-height: 800px;
}

.green{
    /* DEBUG */
    background-color: green;
    min-height: 700px;
    min-width: 70%;
}


